* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
}
button {
	margin: 5px 0px 0px 5px;
}
#container {
	width: 1920px;
	margin: 0px auto;
}
.navbar {
	background-color:  white;
}
.navbar h3 {
	font-family: ;
	font-size: 30px;
	margin-right: 50px;
	padding-bottom: 10px;
}
.navbar img {
	margin: 10px 0px 0px 20px;
}
.well-lg {
	border-color: green;
}
.col-md-3 {
	margin-top: 10px;
	
}
.col-md-12 {
	background-color: #ddd;
}