* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
h1 {

}
h2 {

}
h3{
	color: white;
}
body{

}
button {
	margin: 5px 0px 0px 5px;
}
#container {
	width: 1920px;
	margin: 0px auto;
}
.like {
	color: #3BFF34;
}
.pictures {
	color: #3BFF34;
}
#signin {
	margin-top: 20px;
}
.navbar {
	/*text-align: right;*/
	background-color:  #3B3634;
}
.navbar h3 {
	margin-right: 60px;
	font-family: ;
	font-size: 30px;
	padding-bottom: 10px;
	color: white;
}
.well-lg {
	margin-top: 50px;
	background-color: #3B3634;
}
.col-md-3 {
	margin-top: 10px;
	
}
.col-md-12 {
	height: 100px;
	background-color: #3B3634;
}